<div class="col-md-6 text-center" style="float: left">
    <div class="container col-md-12 left-content">
        <table class="table left-table">
            <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Food Name</th>
                <th>Price</th>
                <th>About</th>
                <th class="bg-success">Add</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="food in foods | orderBy:'price'">
                <th scope="row">{{$index + 1}}</th>
                <td>{{food.name}}</td>
                <td>{{food.price}}</td>
                <td>{{food.description}}</td>
                <td>
                    <button class="btn btn-success" ng-controller="rootController"
                        ng-click="goesToRootBasket({
                            'id': food.id,
                            'name': food.name,
                            'price': food.price
                                                  })">
                    Add
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
