label.operation-display{
	font-family: "Verdana", Times, serif;
	font-size: 45px;
}
button{
	border: 2px;
}
#container{
	 position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}