<div class="col-xs-6 pull-left">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
         ng-repeat="order in orders track by $index">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{ order.restaurant.name}}
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <div ng-repeat="item in order.items">
                        <p>Yemek: {{item.food.name}} Adet: {{item.quantity}} Fiyat: {{item.price}} Tarih :
                            {{order.created_at}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>