<div class="col-xs-6 pull-left">
    <div class="panel-group" ng-repeat="order in orders track by $index"
         id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a target="_self" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                        {{order.id }} - {{order.created_at}}
                    </a>
                    <a ng-href="#/order/{{order.id}}">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <div ng-repeat="item in order.items track by $index">
                        {{$index + 1}} - {{item.food.name}} - {{item.quantity}} adet
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>