<div class="col-xs-6 pull-left">
    <input type="text" ng-model="searchRestaurant">
    <div class="panel-group" ng-repeat="restaurant in restaurants | filter:searchRestaurant track by $index"
         id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <button type="button" data-toggle="popover"
                            title="{{restaurant.name + ' - ' + restaurant.district }}"
                            data-content="{{'Servis: ' + restaurant.serviceRank + ' Lezzet: ' + restaurant.tasteRank + ' Hız: ' + restaurant.speedRank }}">
                        +
                    </button>
                    <a target="_self" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                        {{restaurant.name}}
                    </a>
                    <a ng-href="#/restaurant/{{restaurant.id}}">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>{{restaurant.district}}</p>
                    <p> {{restaurant.phoneNumber}}</p>
                </div>
            </div>
        </div>
    </div>
</div>