body > div {
    width:700px;
    max-width: 500px;
    height:300px;
    border: 1px solid black;
    padding: 2%;
    box-sizing:border-box;
    border-radius:  20px;
    background-color:#336666;
}

.header {
    margin-bottom: 5px;
    width: 100%;
    background-color: #336666;
}

.header input {
    border-radius:  10px;
    width: 100%;
    height:40px;
    border: 1px solid black;
    text-align: right;
    overflow:hidden;
}

.numberFields {
    
    margin: 0;
    width: 280px;
    height: 100px;
    font-size:0;
    float:left;

}

.numberFields button {
    background-color: #990033;
    border: 1px solid black;
    width: 33.33%;
    height: 40px;
    border-radius:  5px;
}

.numberFields button:last-of-type{
    width: 100%;
}

.operations {
    padding: 0px;
    width:70px;
    font-size: 0;   
    float:right;
    
}

.operations button{
    background-color: #666699;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float:right;
    display:inline-block;
    border-radius:  5px;
    
    
}
.operations2 {
    padding: 0px;
    width:70px;
    font-size: 0;   
    float:right;
    
}

.operations2 button{
    background-color: #996699;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float:right;
    display:inline-block;
    border-radius:  5px;
    
}
.sum {
    display:block;
}

.sum button {
    background-color: #660033;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius:  10px;
}

