$font-size-16 : 16px;
$font-size-20 : 20px;

body {
  margin: 0;
  padding: 0;
  background: black;
  font-size: $font-size-16;
}

.container {
  width: 800px;
  background: #fffddd;
  margin: 0 auto;
  position: relative;
  font-family: 'Oswald', sans-serif;
  .header {
    background: yellow;
    height: 100px;
    padding-top: 40px;
    font-size: $font-size-20;

    ul li {
      display: inline-block;
      padding-left: 20px;

      a {
        color: orangered;
      }

    }

  }
  .bottom-content{
    text-align: center;
    .box {
      display: inline-block;
      width: 100px;
      height: 100px;
      background: yellow;
    }
    .image {
      display: block;
      padding-top: 50px;
    }
    .footer {
      clear: both;
    }
  }

}