<div class="col-xs-6 pull-left">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <b>Tüm Siparişlerim</b>
            <ul class="list-group">
                <div ng-repeat="order in orders track by $index" class="list-group-item">
                    {{$index+1}}. Sipariş:
                    <div ng-repeat="item in order.items track by $index" class="list-group-item">
                        <br><b>Restaurant Adı:</b> {{order.restaurant.name}}
                        <br><b>Yemek Adı:</b> {{item.food.name}}
                        <br><b>Sipariş Tarihi:</b> {{order.created_at}}
                        <br><b>Sipariş Ücreti:</b> {{item.price}}
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>