<div class="col-xs-12 col-md-12">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" target="_self">Siparislerim</a></li>
        <li><a data-toggle="tab" href="#menu1" target="_self">Favorilerim</a></li>
        <li><a data-toggle="tab" href="#menu2" target="_self">Yeni Restorantlar</a></li>
        <li><a data-toggle="tab" href="#menu3" target="_self">VALE</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, qo laborquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
