<div class="col-xs-6 pull-left">
    <div class="panel-group" ng-repeat="restaurant in restaurantList track by $index"
         id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <div target="_self" role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapseOne">
                        <div id="restaurantPopover{{restaurant.id}}" class="popoverText"
                             data-content="
                            <button type='button' class='btn btn-success btn-xs'>
                                {{restaurant.serviceRank}}
                            </button>
                            <b> Servis Puani</b><br>
                            <button type='button' class='btn btn-success btn-xs'>
                                {{restaurant.tasteRank}}
                            </button>
                            <b> Lezzet Puani</b><br>
                            <button type='button' class='btn btn-success btn-xs'>
                                {{restaurant.speedRank}}
                            </button>
                            <b> Hiz Puani</b>
                            <br><b>Bolge: </b>{{restaurant.district}}
                            <br><b>Numara: </b> {{restaurant.phoneNumber}} <br>
                            <b>Adres: </b> {{restaurant.address}}"
                             data-trigger="hover" data-title="<b>{{restaurant.name}}</b>"
                             data-toggle="popover" data-placement="left" data-html="true">
                            {{restaurant.name}}
                        </div>
                    </div>
                    <a ng-href="#/restaurant/{{restaurant.id}}">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>
                        <b>Servis Puani: </b>
                        {{restaurant.serviceRank}}
                    </p>
                    <p>
                        <b>Lezzet Puani: </b>
                        {{restaurant.tasteRank}}
                    </p>
                    <p>
                        <b>Hiz Puani: </b>
                        {{restaurant.speedRank}}
                    </p>
                    <p>
                        {{restaurant.district}}
                    </p>
                    <p>
                        {{restaurant.phoneNumber}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



