<div class="col-xs-9">
    <h3>Sipariş Detay</h3>
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title"> {{orderDetails.created_at}} Tarihli Sipariş</h3>
        </div>
        <div class="panel-body" ng-repeat="item in orderDetails.items">
            <b>Restaurant Adı: </b> {{item.restaurant.name}} <br>
            <b>Ürün Adı: </b> {{item.food.name}} <br>
            <b>Miktar: </b> {{item.quantity}} <br>
            <b>Birim Fiyatı: </b> {{item.price}} <br>
            <b>Toplam Fiyatı: </b> {{item.quantity * item.price}} <br>
        </div>
    </div>
</div>


